### Encontro 1 - 16 de junho de 2021

* Python como calculadora
    * Operadores aritméticos
        * Básicos: `+`, `-`, `*`, `/`
        * Avançados: `**`, `%`, `//`
* Atalhos do Jupyter
    * A, B, DD, Esc para modo de comando
* Diferença do `print` e `return`
* Tipos de dados
    * Numéricos: `int` e `float`
    * Texto: `str`
* Variáveis
* Funções embutidas
    * [Documentação do Python](https://docs.python.org/pt-br/3/library/functions.html)
    * `print()`
    * `type()`
* Bibliotecas
    * Diferentes formas de importar
        * `import math`
        * `import math as m`
        * `from math import cos, pi`
        
* Uso do `TAB`
    * Olhar dentro de bibliotecas/módulos: `math.` + TAB mostra os objetos do módulo `math`
    * Shift + TAB
    
* Buscando ajuda
    * Função embutida `help()`
    * `objeto?`
    * `objeto??` <- mais detalhada

### Ponto-chave
**O tipo de dado determina que operações posso fazer com um determinado valor. Temos três tipos básicos: `int`, `float` e `str`.**

### Próxima aula
* Pandas e DataFrames

In [ ]:
divisao = 21 / 5
print("O valor da divisão é", divisao)

In [ ]:
divisao = print(21 / 5)
print("O valor da divisão é", divisao)

In [ ]:
x = "10.5"
y = 10.5
z = 10

In [ ]:
print(type(x))
print(type(y))
print(type(z))

In [ ]:
type(2 + 2)

In [ ]:
int("10")

In [ ]:
2 + float("2")

In [ ]:
str(3829)

In [ ]:
valor_da_venda = 321
minha_string = "Valor da venda foi"
print(minha_string, valor_da_venda)

In [ ]:
# import math
# import math as m
from math import cos, pi
from functools import reduce

In [ ]:
pi??

In [ ]:
def soma(a, b):
    """
    Soma os elementos (a, b).
    """
    soma = a + b
    return soma

In [ ]:
help(soma)

In [ ]:
soma?

In [ ]:
soma??

### Encontro 2 - 23 de junho de 2021

* Introdução ao Pandas
    * Importância do NumPy
        * Permite operações numéricas (vetor x scalar, vetor x vetor, multiplicação de matrizes, etc)
        * Rápido (apoiado em libs baixo nível)
* DataFrames
* Indexando e selecionando objetos em um DataFrame
    * `df.loc[]` -> nome de linha e nome de columa
    * `df.iloc[]` -> posição numérica da linha e da coluna 

### Ponto-chave
- **Conceito de DataFrame: uma matriz (`numpy.ndarray`) com nomes de linhas e nomes de colunas.**
- **O objeto que retorna de uma consulta com `.loc` ou `.iloc` pode ser um scalar (célula única), um vetor (pd.Series) ou uma tabela (pd.DataFrame).**

In [ ]:
import numpy as np

In [ ]:
# Python antigo - sem NumPy: dificuldade para lidar com coleções de valores
numeros = [23, 544, 79, 21, 12, -390, 32]

In [ ]:
%time
numeros_x_2 = []
for n in numeros:
    numeros_x_2.append(n * 2)

In [ ]:
numeros = np.array(numeros)

In [ ]:
# Com NumPy: operações vetorizadas = mais rápido
%time
numeros * 2

In [ ]:
dois = np.array([2, 2])
tres = np.array([[3, 3], [3, 3]])

dois * tres

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
df.values

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df

In [ ]:
df.loc['Brazil', 'continent']

In [ ]:
df.iloc[1, 0] == df.loc['Angola', 'continent']

In [ ]:
# Como usar loc para múltiplas linhas
countries = ['United States', 'Jamaica']
df.loc[countries, 'continent']

In [ ]:
df.loc['Brazil', anos_exp_vida]

In [ ]:
df.iloc[50:100, 5:10]

In [ ]:
df.loc['Brazil', 'continent']

In [ ]:
type(df.loc['Brazil', 'continent'])

In [ ]:
df.loc[['United States', 'Jamaica'], 'continent']

In [ ]:
type(df.loc[['United States', 'Jamaica'], 'continent'])

In [ ]:
df.loc[["United States", "Jamaica"], ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']]

In [ ]:
type(df.loc[["United States", "Jamaica"], ['lifeExp_1957', 'lifeExp_1987', 'lifeExp_2007']])

In [ ]:
df.loc[['Brazil'], ['continent']]

In [ ]:
lista = ['a', 'b', 'c', 'd']

In [ ]:
lista[0]