### Aula 1 - 09 de abril de 2021

####  Introdução ao Jupyter

Tópicos:
* Uso do Jupyter
* Células de código e texto
* Interpretador Python como uma calculadora
* Acesso em disco vs. acesso em memória (RAM)
* Funções **builtin:** `print()`
* Diferença entre strings e variáveis
* Tipos de dados
    * Importância de saber o tipo de dado
    * Operadores (exemplo: `+` se comportam diferentemente)
    
Desafio:
* Criar um código, usando operadores matemáticos e variáveis, que converta graus Fahrenheit para Celsius.

Para próxima aula:
* Criar conta no GitHub

In [ ]:
2 + 2
10 - 5
5 * 5
64 / 4
2 ** 3
10 % 3
25 // 4

In [ ]:
nome = "Vini"
idade = 26

In [ ]:
print("Meu nome é:", nome, ", tenho", idade, "anos.")

In [ ]:
nome = "João"

In [ ]:
print(nome)

### Tipos de dados:

`str` -> string, texto  
`int` -> número inteiro  
`float` -> número com vírgula

In [ ]:
nome_misterioso = "3.14"

In [ ]:
print(nome_misterioso); type(nome_misterioso)

In [ ]:
rj, *cidades_rj, sp = "RJ", "Rio de Janeiro", "Macaé", "Niterói", "SP"

### Aula 2 - 14 de abril de 2021

#### Continuação Python básico
* Funções Builtin
    * `print()`
    * `type()`
    * `len()`
    * `help()`
* Variáveis só mudam de valor quando declaramos novamente
* Condicionais
* Operadores lógicos
* Zen of Python
* Statements (def, return, etc)


**Por que definir funções? Por que não colocar tudo em variáveis?**

In [ ]:
def fahr_to_celsius(fahr):
    """
    Docstring: uma string para 'documentar' nosso código.
    Explica o que a função faz e como utilizá-la.
    
    fahr_to_celsius: converte Fahrenheit para celsius.
    
    fahr: graus Fahrenheit
    
    retorna: graus Celsius
    """
    
    celsius = (fahr - 32) / 1.8
    return celsius

### Desafio para próxima aula
* Criar função que, dado uma temperatura em Kelvin, retorn em C, em F, e se está "Calor", "Frio", "De boa".

### Aula 3 - 30 de abril de 2021
* Retomar desafio
* Diferenciar `print` e `return`
* Listas e tuplas
    * Tuplas: imutáveis e definidas com parêntese
    * Lista: mutáveis e definidas com colchetes
* O que são métodos?
    * **Funções próprias de uma classe de objetos**
    
* Listas e strings podem ser fatiadas da mesma forma
    **Cuidado com as pegadinhas!**

In [ ]:
tupla = (0, 1, "a")

lista = ['a', 'b', 'c', 'd', 'e']

In [ ]:
print(lista)

In [ ]:
# Duas pegadinhas de indexação de listas
lista[0]  # zero-based index
lista[0:3]  # non-inclusive slicing

In [ ]:
tamanho = len(lista)
lista[-1]

In [ ]:
lista[:3]

In [ ]:
estado = "São Paulo"

### Aula 4 - 06 de maio de 2021

#### For loops e condicionais
* Função builtin `range()`
* Desafio: inverter palavra
* Slicing com `[::]`

In [ ]:
numeros = [2, 3, 5]

In [ ]:
for n in [1, 4, 7]:
    # quantas operações eu quiser
    quadrado = n ** 2
    cubo = n ** 3
    print(n, quadrado, cubo)

In [ ]:
for n in range(1, 13, 3):
    print(n)

In [ ]:
# variáveis acumuladoras
total = 0
for number in range(1,11):
    total = total + number
    
print(total)

In [ ]:
palavra = "atum"
resultado = ""

for letra in palavra:
    resultado = letra + resultado
    
print(resultado)

In [ ]:
# invertendo strings/lists
palavra[::-1]  # sintaxe [start:stop:step]

### Exercícios

#### 1. Escreva uma função que remova todos os elementos com um determinado valor de uma lista.

**Exemplo**
```python
lista = ['a', 'b', 'c', 'a']
remove(lista, 'a')  # retorna ['b','c'].
```

#### 2. Escreva um programa que receba uma lista e retorna a soma de cada elemento elevado ao cubo. Caso haja um elemento que não seja numero, deve retornar uma mensagem de erro.

#### 3. Escreva um programa que receba uma frase e retorne a palavra com mais letras `'e'`.

#### 4. Escreva um programa que receba uma lista e retorne o valor mínimo e máximo da lista.

#### 5. Escreva um programa que receba uma lista de strings e depois imprima quantos elementos contenham uma substring qualquer.

### Aula 5 - 14 de maio de 2021

* Exercícios
* Operadores lógicos
* Revisão de funções
* Introdução à DataFrames
    * `df.loc`
    * `df.iloc`

In [ ]:
print(1 > 2)
print(2 < 3)
print(2 >= 1)
print(2 <= 1)
print(2 == 2)
print(0 != 1)

### Aula 6 - 21 de maio de 2021

* Pandas: continuação
* Localização e condicionais em DataFrames
* Análise exploratória de dados
    * Métodos de DataFrame
    * `head()`
    * `tail()`
    * `shape`
    * `.describe()`
    * `.columns`
    * `.groupby()`
    * Condicionais
        * Operador `&`: and
        * Operador `|`: or
        * Método `.isin`: dentro de alguma coleção (lista, tupla, etc)
* Função embutida `dir()`: métodos e atributos em um objeto/biblioteca/módulo
    * Equivalente a apertar TAB

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel("base_teste.xlsx", )

In [ ]:
df.head()

In [ ]:
# primeira linha, colunas: laboratório, marca, data
df.loc[0, ["Laboratório", "Marca", "Data"]]

In [ ]:
# condicional
df[df["Tipo Canal"] == "Público"]

In [ ]:
df.groupby(["Tipo Canal", "Tipo Auditoria"]).describe()

In [ ]:
meses_quarter_movel = ["Out 2020", "Nov 2020", "Dez 2020"]
df[df["Data"].isin(meses_quarter_movel)]

In [ ]:
df["Quarter_Movel"] = ""
qmovel_true_index = df[df["Data"].isin(meses_quarter_movel)].index
qmovel_false_index = df[~df["Data"].isin(meses_quarter_movel)].index
df.loc[qmovel_true_index, "Quarter_Movel"] = True
df.loc[qmovel_false_index, "Quarter_Movel"] = False

In [ ]:
for ix, row in df.iterrows():
    if row["Data"] in meses_quarter_movel:
        df.loc[ix, "Quarter_Movel"] = True
    else:
        df.loc[ix, "Quarter_Movel"] = False