### Aula 1 - 7 de abril de 2021
#### Introdução ao Python

Uso básico do Jupyter. Tópicos:
* Variáveis
* Tipos de dados
* Operações matemáticas
* Funções

**Desafio:** criar uma função para converter Kelvin para Celsius?

### Aula 2 - 9 de abril de 2021
#### Tipos de dados e funções builtin

Tópicos:
* Quais são os principais tipos de dados?
* Como descobrir os tipos de dados -> função `type`
* Funções `type` e `len`
* Diferença entre `print` e `return` em funções
* Como melhorar funções: docstrings e checks de input

In [ ]:
def cel_to_kel_print(cel):
    kel = cel + 273.15
    print(kel)
    
    
def cel_to_kel_return(cel):
    kel = cel + 273.15
    return kel


def cel_to_kel_virgula(cel):
    kel = (cel+273,15)
    return kel

In [ ]:
cel_to_kel_virgula(30)

In [ ]:
type(cel_to_kel_virgula(30))

# função len - length, comprimento em inglês
len(cel_to_kel_virgula(30))

In [ ]:
lista_print = []
list_return = []

temps = list(range(50))

for t in temps:
    lista_print.append(cel_to_kel_print(t))
    list_return.append(cel_to_kel_return(t))

In [ ]:
def operacao_basica_r():
    return 2 + 2

def operacao_basica_p():
    print(2 + 2)

In [ ]:
a = operacao_basica_r()

In [ ]:
operacao_basica_r()

In [ ]:
b = operacao_basica_p()

In [ ]:
b = None

In [ ]:
# Diferença lista e tupla: a primeira é mutável
l = ['a', 'b', 42, 9320.2, ['RJ', 'SP']]

In [ ]:
float_ = 273.15
inteiro = 273
string = "273"

In [ ]:
for variavel in (float_, inteiro, string):
    print(type(variavel))

In [ ]:
str(49)

In [ ]:
numeros = [4, 49, 100]

for n in numeros:
    print(int(math.sqrt(n)))

In [ ]:
variavel_com_nome_misterioso = 273.15

In [ ]:
type(variavel_com_nome_misterioso)

In [ ]:
# Celsius to Kelvin conversion
def cel_to_kel(c):
    k = c + 273.15
    return k

In [ ]:
def celsius_to_kelvin(celsius):
    """
    Realiza conversão de temperatura de graus Celsius
    para Kelvin. Precisa receber um número como entrada.
    
    celsius: temperatura em graus Celsius.
    return: temperatura em graus Kelvin.
    """
    if type(celsius) == str:
        return "Entrada inválida. Dê um número!"
    
    kelvin = celsius + 273.15
    return kelvin

In [ ]:
help(celsius_to_kelvin)

### Aula 3 - 14 de abril de 2021

**Desafio da última aula:** pensar em um problema para resolver com programação
* Calculadora de valorização de moedas (regra de 3)

**Funções builtin:**
- `print()`
- `help()`
- `type()`
- `len()`
- `input()`
- `zip()`

#### Tópicos
* Como melhorar funções
    * Docstrings
    * Comentários
* `for` loop

In [ ]:
def regra_3(a, b, c):
    """
    Calcula uma regra de 3:
    
    a - b
    c - x
    
    Como a está para b, c está para x.
    
    Retorna o valor de x.
    """
    x = b*c/a
    return x

In [ ]:
regra_3(1,2,2)

In [ ]:
def calculadora_regra_3():
    """
    Calculadora interativa de regra de 3:
    
    a - b
    c - x
    
    Como a está para b, c está para x.
    
    Retorna o valor de x.
    """
    
    # Obter valores de entrada
    a = input("Qual é o valor de A?")
    b = input("Qual é o valor de B?")
    c = input("Qual é o valor de C?")
    
    # Converter para número
    a, b, c = float(a), float(b), float(c)
    
    # Calcular regra de 3
    x = b*c/a
    
    print("O valor de X é", x)
    return x

**Gerando listas aleatórias**

In [ ]:
from random import randint
quantidades_iniciais = [1/randint(1,10) for i in range(30)]
valores_iniciais = [randint(10**2, 10**6) for i in range(30)]
quantidades_finais = [randint(1,10) for i in range(30)]
valores_finais = []

**Criando listas na mão**

In [ ]:
cel = [32, 34, 22, 12, 25]
kel = []

### Pergunta: como aplicar a função `regra_3()` nas 3 listas de valores?

In [ ]:
# Usando a função zip
for a, b, c in zip(quantidades_iniciais, valores_iniciais, quantidades_finais):
    x = regra_3(a, b, c)
    valores_finais.append(x)

### Aula 4 - 16 de abril de 2021
#### Listas e slicing

**Pergunta:**
* Por que listas são importantes?


**Objetivos**
* Acessar itens em uma lista
* Acessar fatias da lista
* Inserir itens na lista
* Modificar listas com funções

**Funções builtin**
* `dir()`

**Lembretes**
* `return` só vai dentro de funções

In [ ]:
temps = [32, 34, 22, 12, 25]

print("Temperaturas:", temps)
print("Quantidade:", len(temps))

In [ ]:
tamanho_da_lista = len(temps)
tamanho_da_lista

In [ ]:
temps[tamanho_da_lista - 1]

In [ ]:
temps[-1]  # acessar começando do fim: coloca sinal negativo

In [ ]:
temps[1:4]

**"Pegadinhas" de listas**

In [ ]:
temps[1:4]  #  fatia "não-inclusiva"
temps[0]  # contagem começa no zero

Os métodos de fatia e acesso das listas, também valem para strings (ou textos)

In [ ]:
temp_txt = "Temperaturas"
temp_txt[:4]  # se não boto nada antes, do ':', significa que começa do 0

Funções (métodos) de lista:
* `append()`
* `pop()`
* `insert()`

**Como descobrir os métodos de uma lista (ou qualquer objeto)?**

Com a função builtin `dir()`

In [ ]:
temps.append(56);
temps

In [ ]:
temps.pop()

In [ ]:
temps

In [ ]:
temps.insert(1, 105)

In [ ]:
temps.append("Texto qualquer")

In [ ]:
temps

In [ ]:
temps.reverse()

In [ ]:
temps.pop(0)

In [ ]:
temps.sort(reverse=True)

In [ ]:
temps

### Desafio

Converter os itens da lista `cel` em Kelvin em inserir na lista `kel`:

In [ ]:
for temp in cel:
    k = cel_to_kel(temp)
    kel.append(k)

### Aula 5 - 20 de abril de 2021
#### Continuação Python básico

**Objetivos**
- Usar funções e listas
    - Funções `builtin` para conversão de tipos
        - `float()`
        - `int()`
        - `str()`
        - `list()`
    - Compreensão de lista (*list comprehension*)

**Desafios**
- Calcular a raíz quadrada de uma lista de números

In [ ]:
import math

In [ ]:
numeros = [4, 169, 625, 1369, 1764, 2500]

# Maneira 1: for loop
raiz_numeros = []
for n in numeros:
    raiz = math.sqrt(n)
    raiz = int(raiz)
    raiz_numeros.append(raiz)
    
raiz_numeros

In [ ]:
# Maneira 2: list comprehension
raiz_numeros = [math.sqrt(n) for n in numeros]

raiz_numeros

In [ ]:
# List comprehension + condicionais

# Calcular sqrt() para n < 1000
# Se n > 1000, só incluir n
numeros = [4, 169, 625, 1369, 1764, 2500]

raiz_numeros = []
for n in numeros:
    if n < 1000:
        raiz = math.sqrt(n)
        raiz_numeros.append(raiz)
    else:
        raiz_numeros.append(n)
        
# Desafio: modifique a list comprehension para incluir a condicional
raiz_numeros = [math.sqrt(n) if n < 1000 else n for n in numeros]
raiz_numeros

**Cuidar com pegadinha de condicionais:** quando adicionamos um `else`, mudamos a ordem da list comprehension

### Aula 6 - 23 de abril de 2021

## Ideias de projeto
* Leitura de gráfico
* Automatizar mensagens
* Gerador de senhas

### API do TradingView
* https://pypi.org/project/tradingview-ta/
* https://python-tradingview-ta.readthedocs.io/en/latest/usage.html

### Notas
* Lembrar de usar auto-compleção

# Exercícios

#### 1. Escreva uma função que remova todos os elementos com um determinado valor de uma lista.

**Exemplo**
```python
lista = ['a', 'b', 'c', 'a']
remove(lista, 'a')  # retorna ['b','c'].
```

In [ ]:
[1,2,3].remove(1)

In [ ]:
lista = ['a', 'b', 'c', 'a']


def remove_1(lista, valor):
    for item in lista:
        if item == valor:
            lista.remove(value)
        
    return lista


def remove_2(lista, valor):
    nova_lista = []
    for item in lista:
        if not item == valor:
            nova_lista.append(item)
            
    return nova_lista


def remove_3(lista, valor):
    return [item for item in lista if item != valor]


remove_3(lista, 'a')

#### 2. Escreva um programa que receba uma lista e retorna a soma de cada elemento elevado ao cubo. Caso haja um elemento que não seja numero, deve retornar uma mensagem de erro.

In [ ]:
def elevar_ao_cubo_1(lista):
    nova_lista = []
    for value in lista:
        type_ = type(value)
        if type_ != int and type_ != float:
            return f"{value} não é um número!"
        else:
            nova_lista.append(value ** 3)
            
    return nova_lista


def elevar_ao_cubo_2(lista):
    for value in lista:
        if not isinstance(value, (int, float)):
            return f"{value} não é um número"
        
    return [i**3 for i in lista]


numeros = [2, 3, 5, 7, 11, 13, 17]
elevar_ao_cubo_1(numeros)
elevar_ao_cubo_2(numeros)

#### 3. Escreva um programa que receba uma frase e retorne a palavra com mais letras `'e'`.

#### 4. Escreva um programa que receba uma lista e retorne o valor mínimo e máximo da lista.

#### 5. Escreva um programa que receba uma lista de strings e depois imprima quantos elementos contenham uma substring qualquer.

#### 6. Ler o arquivo abaixo, armazenar os valores em uma lista e fazer algum tipo de operação (média, valor mínimo, valor máximo, etc.)

In [ ]:
from random import randint
numeros = []

for i in range(1, 366):
    numeros.append(randint(10, 50))
    
with open("numeros.txt", "w") as f:
    for n in numeros:
        f.write(str(n) + "\n")

### Aula 7 - 28 de abril de 2021

#### Retomar exercícios
 - Resolver em conjunto

### Aula 8 - 05 de maio de 2021

#### Continuação exercícios
* Parâmetros de funções
* Uso do return
* Função built-in `sum()`
* F-strings
* Método `.split()` de strings


#### Conteúdos
* Métodos de strings e de listas
* Dicionários


<!-- Aula 8.5 - 12 de maio de 2021 -->

### Aula 09 - 14 de maio de 2021

* Revisão
    * Exercícios 3 e 4
    * Variáveis acumuladoras
    * Funções built-in
        * `min`
        * `max`
* Condicionais e Booleanos        
**Próximas aula**
    * Operadores lógicos e booleanos
    * `in`, `and`, `or`

In [ ]:
# Operadores lógicos
1 == 2
1 > 2
2 < 3
2 <= 1
3 >= 4
'e' in 'elefante'
0 != 1
0 is 1

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False is False

### Aula 10 - 21 de maio de 2021

* Introdução ao Pandas
* Bibliotecas

In [1]:
import pandas as pd

In [10]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [20]:
# Duas formas de selecionar valores

# localização numérica
df.iloc[0, 0]  # [linha, coluna]

# pode ser usada com fatias
df.iloc[1:5, -2:]

              pop_2002  pop_2007
country
Angola        10866106  12420476
Benin          7026113   8078314
Botswana       1630347   1639131
Burkina Faso  12251209  14326203

In [26]:
# localização por nome
df.loc["Brazil":"United States", "continent"]

# e se quisermos dois países?
df.loc[["Brazil", "United States"], ["continent", "pop_2007"]]

              continent   pop_2007
country
Brazil         Americas  190010647
United States  Americas  301139947

Condicionais para seleção usam a sintaxe:
```python
df[df["coluna"] == "valor"]
```

In [31]:
# condicionais
df[df["gdpPercap_1952"] > 10000]
df[df["continent"] == "Europe"]

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Albania,Europe,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,...,1728137.0,1984060.0,2263554.0,2509048.0,2780097.0,3075321.0,3326498.0,3428038.0,3508512,3600523
Austria,Europe,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,...,7129864.0,7376998.0,7544201.0,7568430.0,7574613.0,7578903.0,7914969.0,8069876.0,8148312,8199783
Belgium,Europe,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,...,9218400.0,9556500.0,9709100.0,9821800.0,9856303.0,9870200.0,10045622.0,10199787.0,10311970,10392226
Bosnia and Herzegovina,Europe,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,...,3349000.0,3585000.0,3819000.0,4086000.0,4172693.0,4338977.0,4256013.0,3607000.0,4165416,4552198
Bulgaria,Europe,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,...,8012946.0,8310226.0,8576200.0,8797022.0,8892098.0,8971958.0,8658506.0,8066057.0,7661799,7322858
Croatia,Europe,3119.236520,4338.231617,5477.890018,6960.297861,9164.090127,11305.385170,13221.821840,13822.583940,8447.794873,...,4076557.0,4174366.0,4225310.0,4318673.0,4413368.0,4484310.0,4494013.0,4444595.0,4481020,4493312
Czech Republic,Europe,6876.140250,8256.343918,10136.867130,11399.444890,13108.453600,14800.160620,15377.228550,16310.443400,14297.021220,...,9620282.0,9835109.0,9862158.0,10161915.0,10303704.0,10311597.0,10315702.0,10300707.0,10256295,10228744
Denmark,Europe,9692.385245,11099.659350,13583.313510,15937.211230,18866.207210,20422.901500,21688.040480,25116.175810,26406.739850,...,4646899.0,4838800.0,4991596.0,5088419.0,5117810.0,5127024.0,5171393.0,5283663.0,5374693,5468120
Finland,Europe,6424.519071,7545.415386,9371.842561,10921.636260,14358.875900,15605.422830,18533.157610,21141.012230,20647.164990,...,4491443.0,4605744.0,4639657.0,4738902.0,4826933.0,4931729.0,5041039.0,5134406.0,5193039,5238460
France,Europe,7029.809327,8662.834898,10560.485530,12999.917660,16107.191710,18292.635140,20293.897460,22066.442140,24703.796150,...,47124000.0,49569000.0,51732000.0,53165019.0,54433565.0,55630100.0,57374179.0,58623428.0,59925035,61083916
Germany,Europe,7144.114393,10187.826650,12902.462910,14745.625610,18016.180270,20512.921230,22031.532740,24639.185660,26505.303170,...,73739117.0,76368453.0,78717088.0,78160773.0,78335266.0,77718298.0,80597764.0,82011073.0,82350671,82400996
Greece,Europe,3530.690067,4916.299889,6017.190733,8513.097016,12724.829570,14195.524280,15268.420890,16120.528390,17541.496340,...,8448233.0,8716441.0,8888628.0,9308479.0,9786480.0,9974490.0,10325429.0,10502372.0,10603863,10706290
Hungary,Europe,5263.673816,6040.180011,7550.359877,9326.644670,10168.656110,11674.837370,12545.990660,12986.479980,10535.628550,...,10063000.0,10223422.0,10394091.0,10637171.0,10705535.0,10612740.0,10348684.0,10244684.0,10083313,9956108
Iceland,Europe,7267.688428,9244.001412,10350.159060,13319.895680,15798.063620,19654.962470,23269.607500,26923.206280,25144.392010,...,182053.0,198676.0,209275.0,221823.0,233997.0,244676.0,259012.0,271192.0,288030,301931
Ireland,Europe,5210.280328,5599.077872,6631.597314,7655.568963,9530.772896,11150.981130,12618.321410,13872.866520,17558.815550,...,2830000.0,2900100.0,3024400.0,3271900.0,3480000.0,3539900.0,3557761.0,3667233.0,3879155,4109086
Italy,Europe,4931.404155,6248.656232,8243.582340,10022.401310,12269.273780,14255.984750,16537.483500,19207.234820,22013.644860,...,50843200.0,52667100.0,54365564.0,56059245.0,56535636.0,56729703.0,56840847.0,57479469.0,57926999,58147733
Montenegro,Europe,2647.585601,3682.259903,4649.593785,5907.850937,7778.414017,9595.929905,11222.587620,11732.510170,7003.339037,...,474528.0,501035.0,527678.0,560073.0,562548.0,569473.0,621621.0,692651.0,720230,684736
Netherlands,Europe,8941.571858,11276.193440,12790.849560,15363.251360,18794.745670,21209.059200,21399.460460,23651.323610,26790.949610,...,11805689.0,12596822.0,13329874.0,13852989.0,14310401.0,14665278.0,15174244.0,15604464.0,16122830,16570613
Norway,Europe,10095.421720,11653.973040,13450.401510,16361.876470,18965.055510,23311.349390,26298.635310,31540.974800,33965.661150,...,3638919.0,3786019.0,3933004.0,4043205.0,4114787.0,4186147.0,4286357.0,4405672.0,4535591,4627926
Poland,Europe,4029.329699,4734.253019,5338.752143,6557.152776,8006.506993,9508.141454,8451.531004,9082.351172,7738.881247,...,30329617.0,31785378.0,33039545.0,34621254.0,36227381.0,37740710.0,38370697.0,38654957.0,38625976,38518241
Portugal,Europe,3068.319867,3774.571743,4727.954889,6361.517993,9022.247417,10172.485720,11753.842910,13039.308760,16207.266630,...,9019800.0,9103000.0,8970450.0,9662600.0,9859650.0,9915289.0,9927680.0,10156415.0,10433867,10642836
Romania,Europe,3144.613186,3943.370225,4734.997586,6470.866545,8011.414402,9356.397240,9605.314053,9696.273295,6598.409903,...,18680721.0,19284814.0,20662648.0,21658597.0,22356726.0,22686371.0,22797027.0,22562458.0,22404337,22276056
Serbia,Europe,3581.459448,4981.090891,6289.629157,7991.707066,10522.067490,12980.669560,15181.092700,15870.878510,9325.068238,...,7616060.0,7971222.0,8313288.0,8686367.0,9032824.0,9230783.0,9826397.0,10336594.0,10111559,10150265
Slovak Republic,Europe,5074.659104,6093.262980,7481.107598,8412.902397,9674.167626,10922.664040,11348.545850,12037.267580,9498.467723,...,4237384.0,4442238.0,4593433.0,4827803.0,5048043.0,5199318.0,5302888.0,5383010.0,5410052,5447502
Slovenia,Europe,4215.041741,5862.276629,7402.303395,9405.489397,12383.486200,15277.030170,17866.721750,18678.534920,14214.716810,...,1582962.0,1646912.0,1694510.0,1746919.0,1861252.0,1945870.0,1999210.0,2011612.0,2011497,2009245
Spain,Europe,3834.034742,4564.802410,5693.843879,7993.512294,10638.751310,13236.921170,13926.169970,15764.983130,18603.064520,...,31158061.0,32850275.0,34513161.0,36439000.0,37983310.0,38880702.0,39549438.0,39855442.0,40152517,40448191
Sweden,Europe,8527.844662,9911.878226,12329.441920,15258.296970,17832.024640,18855.725210,20667.381250,23586.929270,23880.016830,...,7561588.0,7867931.0,8122293.0,8251648.0,8325260.0,8421403.0,8718867.0,8897619.0,8954175,9031088
Switzerland,Europe,14734.232750,17909.489730,20431.092700,22966.144320,27195.113040,26982.290520,28397.715120,30281.704590,31871.530300,...,5666000.0,6063000.0,6401400.0,6316424.0,6468126.0,6649942.0,6995447.0,7193761.0,7361757,7554661
Turkey,Europe,1969.100980,2218.754257,2322.869908,2826.356387,3450.696380,4269.122326,4241.356344,5089.043686,5678.348271,...,29788695.0,33411317.0,37492953.0,42404033.0,47328791.0,52881328.0,58179144.0,63047647.0,67308928,71158647
United Kingdom,Europe,9979.508487,11283.177950,12477.177070,14142.850890,15895.116410,17428.748460,18232.424520,21664.787670,22705.092540,...,53292000.0,54959000.0,56079000.0,56179000.0,56339704.0,56981620.0,57866349.0,58808266.0,59912431,60776238

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142 entries, Algeria to New Zealand
Data columns (total 37 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   continent       142 non-null    object
 1   gdpPercap_1952  142 non-null    float64
 2   gdpPercap_1957  142 non-null    float64
 3   gdpPercap_1962  142 non-null    float64
 4   gdpPercap_1967  142 non-null    float64
 5   gdpPercap_1972  142 non-null    float64
 6   gdpPercap_1977  142 non-null    float64
 7   gdpPercap_1982  142 non-null    float64
 8   gdpPercap_1987  142 non-null    float64
 9   gdpPercap_1992  142 non-null    float64
 10  gdpPercap_1997  142 non-null    float64
 11  gdpPercap_2002  142 non-null    float64
 12  gdpPercap_2007  142 non-null    float64
 13  lifeExp_1952    142 non-null    float64
 14  lifeExp_1957    142 non-null    float64
 15  lifeExp_1962    142 non-null    float64
 16  lifeExp_1967    142 non-null    float64
 17  lifeExp_1972    142 non-null    float64
 18  lifeExp_1977    142 non-null    float64
 19  lifeExp_1982    142 non-null    float64
 20  lifeExp_1987    142 non-null    float64
 21  lifeExp_1992    142 non-null    float64
 22  lifeExp_1997    142 non-null    float64
 23  lifeExp_2002    142 non-null    float64
 24  lifeExp_2007    142 non-null    float64
 25  pop_1952        142 non-null    float64
 26  pop_1957        142 non-null    float64
 27  pop_1962        142 non-null    float64
 28  pop_1967        142 non-null    float64
 29  pop_1972        142 non-null    float64
 30  pop_1977        142 non-null    float64
 31  pop_1982        142 non-null    float64
 32  pop_1987        142 non-null    float64
 33  pop_1992        142 non-null    float64
 34  pop_1997        142 non-null    float64
 35  pop_2002        142 non-null    int64
 36  pop_2007        142 non-null    int64
dtypes: float64(34), int64(2), object(1)
memory usage: 46.2+ KB

In [34]:
df.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,...,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02,1.420000e+02
mean,3725.276046,4299.408345,4725.812342,5483.653047,6770.082815,7313.166421,7518.901673,7900.920218,8158.608521,9090.175363,...,2.042101e+07,2.265830e+07,2.518998e+07,2.767638e+07,3.020730e+07,3.303857e+07,3.599092e+07,3.883947e+07,4.145759e+07,4.402122e+07
std,9321.064786,9869.662202,8667.362525,8095.315431,10614.383403,8362.489150,7733.845006,8288.281304,9031.846080,10171.493263,...,6.978865e+07,7.837548e+07,8.864682e+07,9.748109e+07,1.050986e+08,1.147562e+08,1.245026e+08,1.334174e+08,1.408483e+08,1.476214e+08
min,298.846212,335.997115,355.203227,349.000000,357.000000,371.000000,424.000000,385.000000,347.000000,312.188423,...,6.534500e+04,7.078700e+04,7.659500e+04,8.679600e+04,9.859300e+04,1.108120e+05,1.259110e+05,1.456080e+05,1.703720e+05,1.995790e+05
25%,864.752389,930.540819,1059.149171,1151.245103,1257.193853,1357.257252,1363.338985,1327.469823,1270.660958,1366.837958,...,1.784362e+06,2.034768e+06,2.351192e+06,2.759717e+06,3.006286e+06,3.194990e+06,3.605992e+06,3.770150e+06,4.173506e+06,4.508034e+06
50%,1968.528344,2173.220291,2335.439533,2678.334740,3339.129407,3798.609244,4216.228428,4280.300366,4386.085502,4781.825478,...,4.686040e+06,5.170176e+06,5.877996e+06,6.404036e+06,7.007320e+06,7.774862e+06,8.688686e+06,9.735064e+06,1.037292e+07,1.051753e+07
75%,3913.492777,4876.356362,5709.381428,7075.932943,9508.839304,11204.102423,12347.953723,11994.052795,10684.351870,12022.867188,...,1.098008e+07,1.261458e+07,1.467920e+07,1.667023e+07,1.840732e+07,2.094754e+07,2.270538e+07,2.431137e+07,2.654556e+07,3.121004e+07
max,108382.352900,113523.132900,95458.111760,80894.883260,109347.867000,59265.477140,33693.175250,31540.974800,34932.919590,41283.164330,...,6.657700e+08,7.545500e+08,8.620300e+08,9.434550e+08,1.000281e+09,1.084035e+09,1.164970e+09,1.230075e+09,1.280400e+09,1.318683e+09