### Encontro 1 - 11 de junho de 2021
* Controles básicos do Jupyter
    * Modo de comando: `ESC`
    * Criar célula: `A` ou `B`
    * Deleter célula: `DD`
* Exemplo: aplicação TM1
    * [Biblioteca TM1py](https://code.cubewise.com/tm1py-overview)
* Operadores aritméticos
    * `+`
    * `*`
    * `-`
    * `/`
    * `%`  # módulo, ou resto de divisão
    * `//`  # 'floor' division, maior número inteiro
    * `**`
* Tipos de dados
    * **Tipos de dados determinam as operações**
    * Numéricos: `float` e `int`
    * Texto: `str`
    * Posso verificar o tipo de dado com a função `type()`
    * Os tipos básicos são tanto tipos, quanto funções embutidas para converter de um tipo em outro (ver abaixo)
* Funções embutidas - [Docs do Python](https://docs.python.org/pt-br/3/library/functions.html)
    * `print()`
    * `type()`
    * `int()`
    * `str()`
    * `float()`
* Variáveis

In [ ]:
2 + 2

In [ ]:
2 * 4

In [ ]:
2 - 2

In [ ]:
resultado = 10 / 4

In [ ]:
print(resultado)

In [ ]:
type(2.5)

In [ ]:
type(3)

In [ ]:
type("Vini")

In [ ]:
nome = "Vini"
print(nome)

In [ ]:
print("Primeira linha")
print("Segunda linha")
print(10 / 4)
print("Quarta linha")

In [ ]:
resultado = 10 / 4
print("Resultado é", resultado)

In [ ]:
resultado = print(10 / 4)
print("Resultado é", resultado)

In [ ]:
print(10 / 4)

In [ ]:
2 + 2

In [ ]:
"2" + "2"

In [ ]:
12.0 / 4.0

In [ ]:
print("DDD do Rio é", 21)

In [ ]:
"DDD do Rio é " + str(21)

In [ ]:
type("Vini")

In [ ]:
int(2.5)

In [ ]:
float("2")

In [ ]:
str(10e-3)

In [ ]:
"abc " * 3

### Encontro 2 - 18 de junho de 2021

* Revisão da última aula
* Funções embutidas
    * `help()`
        * Outras formas de chamar o help: com `?` ou `??`
        * Para funções: Shift + TAB
* Bibliotecas
    * `math.` + TAB para olhar os objetos de uma biblioteca
    * Diferentes formas de importar os objetos de uma biblioteca
        * `import math`
        * `from math import cos, pi`
        * `import math as m`
* Importar dados com o Pandas
    * Função `pd.read_csv()`


### Pontos-chave

Como usar bibliotecas. Como ver a ajuda para a função/biblioteca. O que são DataFrames: **matrizes com nome nas linhas e nas colunas.**

### Semana que vem
* Explicação do `numpy` e `ndarray`
* Filtrando e selecionando dados

In [3]:
# import math
# from math import cos, pi
# import math as m
import pandas as pd

In [31]:
df = pd.read_csv('gapminder_all.csv', index_col='country')

In [42]:
# type(df.index)
# type(df.index)
type(df.values)

numpy.ndarray

In [33]:
print(df.columns)
print(df.index)
print(df.values)

Index(['continent', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957', 'lifeExp_1962',
       'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977', 'lifeExp_1982',
       'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997', 'lifeExp_2002',
       'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962', 'pop_1967',
       'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992', 'pop_1997',
       'pop_2002', 'pop_2007'],
      dtype='object')
Index(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi',
       'Cameroon', 'Central African Republic', 'Chad', 'Comoros',
       ...
       'Serbia', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom', 'Australia', 'New Zealand'],
      dtype='object', name='country', length=142)
[['Africa' 2449.008185 3013.976023 ... 29072015.0 31287142 33333216]
 ['Africa' 3520.610273 3827.940465 ... 9875024.0 10866106 12420476]
 ['Africa' 1062.7522 959.6010805 ... 6066080.0 7026113 8078314]
 ...
 ['Europe' 9979.508487 11283.17795 ... 58808266.0 59912431 60776238]
 ['Oceania' 10039.59564 10949.64959 ... 18565243.0 19546792 20434176]
 ['Oceania' 10556.57566 12247.39532 ... 3676187.0 3908037 4115771]]