### Aula 1 - 07 de abril de 2021

#### Introdução ao Jupyter
* Variáveis
* Tipos de dados
* Funções builtin
    * `print()`
    * `type()`
    * `len()`
    
### Aula 2 - 14 de abril de 2021

#### Continuação Python básico
* Continuação funções builtin
    * `help()`
* Criando funções

**Para próxima aula:**
- Pensar em um problema e em uma função para resolvê-lo
- Aprender uma nova função builtin do Python

In [ ]:
def celsius_to_fahr(celsius):   # definição da função com nome e parâmetros de entrada
    """
    Converte Celsius para Fahrenheit.
    """
    
    # corpo da função
    fahr = celsius * 9/5 + 32
    
    return fahr  # valor de saída

In [ ]:
print("Alguma coisa.")

In [ ]:
celsius_to_fahr(38)

### Aula 3 - 22 de abril de 2021
* Retomar atividade da última aula
    * Função builtin
        * `input()`
    * Pandas e Numpy
    * Problema para resolver
        * Como entrar em um site, e.g. Google?
        * Usando a biblioteca `requests`

#### Listas e slicing

**Pergunta:**
* Por que listas são importantes?


**Objetivos**
* Definindo listas:
    * Sintaxe usando colchetes `[]` e valores separados por vírgula
* Acessar itens em uma lista
    * **Pegadinhas**
    * Através do índice `lista[0]` retorna o primeiro valor
    * Fatia é **não-inclusiva**
* Acessar fatias da lista
* Inserir itens na lista
* Modificar listas com funções
* Função `len()`, do inglês "length"

In [ ]:
x = [0,1,2,3,4,5,6,7,8,9,10]
type(x)

In [ ]:
temperaturas = [25, 32, "Quarenta graus", 15, 13]

print("Temperaturas:", temperaturas)
print("Comprimento:", len(temperaturas))

### Acessando listas

In [ ]:
temperaturas = [25, 32, "Quarenta graus", [15, 13]]
temperaturas[-1]  # último valor
temperaturas[0:2]  # fatia não inclusiva

### É possível acessar strings da mesma forma que listas

In [ ]:
estado = "São Paulo"
estado[0:3]
estado[0]

In [ ]:
temperaturas[0] = -10
temperaturas

### Propriedades de objetos

Usando a função `type`, sabemos que tipo de objeto estamos trabalhando, e diferentes objetos têm diferentes propriedades.

As listas possuem funções próprias para manipular elas. Uma função de um objeto é chamada de método.

Métodos de listas:
* `append()`
* `insert()`
* `pop()`
* `reverse()`
* `sort()`

In [ ]:
temperaturas = [25, 32, 40, 15, 13]

temperaturas.append(100)

temperaturas

In [ ]:
temperaturas.insert(2, -30)

In [ ]:
temperaturas.pop()

In [ ]:
ultima_temp = temperaturas.pop()

In [ ]:
ultima_temp

In [ ]:
temperaturas.sort()
temperaturas.reverse()
temperaturas

In [ ]:
lista = [0, "1", 2]
lista.reverse()
lista

### Aula 4 - 05 de maio de 2021

#### Condicionais e `for` loop
* Declarações `if`, `else`, `elif`
* Operadores lógicos

In [ ]:
for t in temperaturas:
    # faça alguma coisa SE a temperatura passar de 50 graus
    if t >= 40:
        print("Temperatura muito alta: ", t)
    elif t < 20:
        print("Temperatura muito baixa: ", t)
    # elif 
    else:
        print("Temperatura adequada: ", t)

In [ ]:
lista = ["a", "b", "c", "d", "e", 0]

for value in lista:
    if value == "a":
        print("Letra a!")
    elif value == "b":
        print("Letra b!")
    elif value == "c":
        print("Letra c!")
    else:
        print("Algum outro valor: ", value)

In [ ]:
temperaturas

In [ ]:
# Operadores lógicos
1 < 2
2 > 1
2 == 2
2 != 3
2 >= 2
1 <= 2

## Exercícios

#### 1. Escreva uma função que remova todos os elementos com um determinado valor de uma lista.

**Exemplo**
```python
lista = ['a', 'b', 'c', 'a']
remove(lista, 'a')  # retorna ['b','c'].
```

In [ ]:
lista = ['a', 'b', 'c', 'a']

#### 2. Escreva um programa que receba uma lista e retorna a soma de cada elemento elevado ao cubo. Caso haja um elemento que não seja numero, deve retornar uma mensagem de erro.

In [ ]:
def elevar_cubo(lista):
    lista_ao_cubo = []
    for value in lista:
        lista_ao_cubo.append(value ** 3)
        
    return sum(lista_ao_cubo)


uma_lista = [11, 13, 17]

elevar_cubo(uma_lista)

#### 3. Escreva um programa que receba uma frase e retorne a palavra com mais letras `'e'`.

In [ ]:
def achar_palavra_letras_e(frase):
    # separar a frase (string) em uma lista
    lista = frase.split()
    
    # variáveis 'acumuladoras'
    palavra_com_mais_letras_e = ""
    numero_de_letras_e = 0
    
    for palavra in lista:
        e = palavra.count("e")
        if e > numero_de_letras_e:
            palavra_com_mais_letras_e = palavra
            numero_de_letras_e = e
            
    if numero_de_letras_e > 0:
        print(f"A palavra com mais letras 'e' é '{palavra_com_mais_letras_e}', com {numero_de_letras_e} ocorrências.")
    else:
        print("Nenhuma palavra com letra 'e'.")
        
    return palavra_com_mais_letras_e

In [ ]:
achar_palavra_letras_e("Um elefante incomoda muita gente. Dois elefantes incomodam muito mais.")

#### 4. Escreva um programa que receba uma lista e retorne o valor mínimo e máximo da lista.

#### 5. Escreva um programa que receba uma lista de strings e depois imprima quantos elementos contenham uma substring qualquer.

### Aula 6 - 12 de maio de 2021
* Exercícios
    * Definição de funções
    * Parâmetros de entrada
    * Escopo das funções
* Funções [built-in do Python](https://docs.python.org/pt-br/3/library/functions.html)

**Próxima aula: sincronizar com GitHub e planilhas**

In [ ]:
# Operadores matemáticos
print(2 + 2)
print(2 - 1)
print(2 / 2)
print(2 * 3)
print(2 ** 3)
print(13 % 5)
print(12 // 5)

### Aula 7 - 20 de maio de 2021

* Revisão de fatias de listas e strings
    * Método `str.split()`
* Instalar Git e sincronizar notebooks
* Exercícios

In [ ]:
uma_string = 'aula de hoje'
uma_lista = ['Vini', 'Rodrigo', 'Carla', 'Eduardo', 'Mario', 'Elefante']

In [ ]:
uma_string[posicao]
uma_string[inicio:fim]
uma_string[inicio:fim:degrau]

In [ ]:
uma_string[-1]  # posicao
uma_lista[2:5]  # inicio:fim  - lembrar: fatia não-inclusiva
uma_string[1:6:2]  # inicio:fim:degrau

In [ ]:
uma_lista[-2::-2]  # inverter uma lista (degrau ao contrário)

In [ ]:
# Operadores lógicos
x = 10
y = 12
l = [10, 15, 20]

print('x > y is',x > y)
print('x < y is',x < y)
print('x == y is',x == y)
print('x != y is',x != y)
print('x >= y is',x >= y)
print('x <= y is',x <= y)
print('x in l is', x in l)
print('y in l is', y in l)

### Aula 8 - 26 de maio de 2021

* Introdução Pandas
* Três usos do TAB
    * `pd.` e TAB para ver métodos da biblioteca
    * `pd.read_csv()` e Shift + TAB para ajuda da função
    * `pd.read_csv('gap` e TAB para completar o nome do arquivo
* Conversa sobre arquivos CSV
* Atributos e métodos do DataFrame
    * `.columns` - nome das colunas
    * `.info()` - tipos de dados
* Localizando dados
    * `.iloc` - indexação por número
    * `.loc` - indexação por nome

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

`.loc` e `.iloc` funcionam da seguinte forma: recebem um (linha) ou dois (linha, coluna) valores que indicam a linha e coluna a serem selecionadas.

In [ ]:
df.head()

In [ ]:
# com um valor
df.loc['Algeria']  # retorna a primeira linha
df.iloc[0]  # retorna a primeira linha

# com dois valores: linha, coluna
df.loc['Algeria', 'continent']
df.iloc[0, 0]

# para selecionar múltiplas linhas ou colunas,
# agrupar em listas
df.loc[['Argentina', 'Brazil'], ['continent', 'gdpPercap_2007', 'lifeExp_2007']]

In [ ]:
# no exemplo anterior, temos um DataFrame
type(df.loc[['Argentina', 'Brazil'], ['continent', 'gdpPercap_2007', 'lifeExp_2007']])

In [ ]:
# se selecionarmos uma linha ou coluna, temos uma Series
type(df.loc['Algeria'])

In [ ]:
# se selecionarmos uma única célula, temos o tipo de dado que está lá
type(df.loc['Algeria', 'continent'])

### Aula 9 - 09 de junho de 2021

* Continuação Pandas
    * Ideia do DataFrame: matriz (array) com nome de linhas e colunas
    * A matriz por baixo do DataFrame é um objeto `numpy.ndarray`, acessável pelo atributo `.values`
    * Importância da biblioteca NumPy
        * Multiplicação de vetores
        * Operações numéricas em geral
* Importando bibliotecas
    * Biblioteca padrão do Python
    * Três formas de importar
        * `import math`  # biblioteca inteira (objetos disponíveis com `math.`)
        * `from math import cos, pi`  # objetos específicos
        * `import math as m`  # com atalho
* Como saber como uma biblioteca funciona?
    * Documentação oficial
        * [Do Python (em português)](https://docs.python.org/pt-br/3/)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
temperaturas = list(range(0, 100))

In [ ]:
[df.index[2],]

In [ ]:
dfs = pd.DataFrame([["a","b","c"], ["d","e","f"], ["g","h","i"]])

In [ ]:
df[~(df['continent'] == "Europe") & (df["gdpPercap_1957"] > 1000)]

In [ ]:
pd.cut(temperaturas, 4)

In [ ]:
type(df.values)

In [ ]:
lista_1 = [10,20,30,40,"cinquenta"]
lista_2 = [2,4,6,8,10]

In [ ]:
lista_1 * 2

In [ ]:
array_1 = np.array(lista_1)
array_2 = np.array(lista_2)

In [ ]:
lista_3 = [23, 8439, -2, 0.005, "cinquenta"]

In [ ]:
"A" * 3.0

### Encontro 10 - 16 de junho de 201

* Explorando métodos do Pandas
    * `pd.cut`
    * Importância de ler o help
* Métodos de séries
    * `df['nome_da_coluna'].value_counts()` <- útil para variáveis categóricas
* Starred expressions: ideia de 'espalhar' valores

### Ponto-chave

**Consultas podem retornar diferentes objetos: scalar, Series ou DataFrame.**

### Próxima aula:
* Merge, join e concatenate
* Groupby
* Como obter dados da web?
    * Explorar API do GitHub
* Trazer problemas para a aula

In [ ]:
import pandas as pd

df = pd.read_csv("gapminder_all.csv", index_col="country")

In [ ]:
df["categoria_pop_2007"] = pd.cut(df["pop_2007"], 3, labels=("pouco populoso", "população média",
                                                             "muito populoso"))

In [ ]:
df["continent"].value_counts()

In [ ]:
df["PIB_bruto_2007"] = df["gdpPercap_2007"] * df["pop_2007"]

In [ ]:
df["PIB_bruto_2007"].describe()

In [ ]:
df.describe()

In [ ]:
a, b, *c = 0, 1, 2, 3, 4, 5, 6

In [ ]:
lista_de_ranges = [*list(range(0, 11, 2)), *list(range(1,11,2))]

print(lista_de_ranges)
print(len(lista_de_ranges))

In [ ]:
todos_menos_3 = [*list(range(3)), *list(range(4, len(df)))]
print(todos_menos_3)

In [ ]:
df.iloc[[*list(range(3)), *list(range(4, len(df)))], :]

In [ ]:
df["life"]

In [ ]:
df["gdpPercap_1957"]

In [ ]:
df[df["continent"].isin(("Africa", "Europe"))]

In [ ]:
df[df["continent"].isin(("Africa", "Europe"))]

df[(df["continent"] == "Africa") & (df["continent"])]

In [ ]:
df[~(df["continent"] == "Africa") & (df["continent"] != "America")]

In [ ]:
type(df.loc["Brazil", "continent"])

In [ ]:
type(df.loc[:, "continent"])

In [ ]:
type(df.loc[:, "continent"])

In [ ]:
type(df.loc["Brazil", :])

In [ ]:
type(df.loc[["Brazil", "Australia"], ["gdpPercap_2007", "pop_2007"]])

In [ ]:
df[df["pop_2007"] == 190010647]

In [ ]:
df.describe().loc[["mean", "std"], ["pop_1962", "pop_2007"]].astype(int)

In [ ]:
df.groupby("continent").max()