### Aula 1 - 25 de maio de 2021

* Códigos e bibliotecas conhecidas
* Sintaxe
    * Operadores aritméticos
    * Variáveis
    * Tipos de dados
        * Numéricos: `int` e `float`
        * Texto: `str`
    * Funções embutidas
        * `print()`
        * `type()`
    * Funções customizadas
    * Diferença `print` e `return`
    
### Ponto-chave

**Existem 3 tipos básicos de dados: `int`, `float` e `str`. As operações possíveis dependem do tipo de dado.**

#### Conversão de temperatura

Como usar Python para converter temperaturas de graus Celsius (C) para graus Fahrenheit (F)?

**Fórmula:** (0°C × 9/5) + 32 = 32°F

Se eu tenho o valor 40 graus Celsius, é equivalente a quantos graus Fahrenheit?

In [ ]:
celsius = 40
fahr = (celsius * 9/5) + 32

In [ ]:
def converter_celsius_fahr(celsius):
    """
    Converte temperatura de Celsius para Fahrenheit.
    """
    fahr = (celsius * 9/5) + 32
    return fahr

In [ ]:
fahr = converter_celsius_fahr(40)

In [ ]:
quatro = 2 + 2

outro_quatro = print(2 + 2)

In [ ]:
type(outro_quatro)

In [ ]:
print(celsius, "graus Celsius são", fahr, "graus Fahr.")

In [ ]:
"40 " + "graus Celsius"

In [ ]:
type(fahr)

In [ ]:
type(True)

### Aula 2 - 9 de junho de 2021

* Revisão Aula 1
* Bibliotecas
    * **Explorando bibliotecas com TAB e `help()`**
    * Acessar objetos da biblioteca com `math.` e TAB
    * Três formas de conseguir ajuda
        * `math.cos?`
        * `help(math.cos)`
        * `math.cos??`
    * Várias formas de importar bibliotecas
        * `import math`  # biblioteca inteira
        * `import math as m`  # usando atalhos
        * `from math import cos, pi`  # funções específicas
* Estilo de código
    * Boas práticas de import
    * PEP-8
    * Black
* Pandas
    * `df.columns` -> índice das colunas
    * `df.index` -> índice das linhas
    * `df.values` -> "dados brutos", matriz/array NumPy por baixo do DataFrame
    
### Ponto-chave

**Ideia de DataFrame como matriz com nome de linhas e colunas (índices)**

In [1]:
import json
import pandas as pd

In [59]:
df = pd.read_csv("gapminder_all.csv", index_col="country")

### Encontro 3 - 16 de junho de 2021

* DataFrames Pandas
* Que operações no Pandas?
    * Puxar dados do lake
        * Formato Parquet, JSON ou CSV
        * Estrutura já é possível de ver no HDFS
    * Fazer ingestão
    * Usar um filtro
    * Fazer select
* Explorando objetos
    * `df.` + TAB
    * Função embutida `dir()`
    * Diferença entre métodos (funções específicas da classe) e atributos (valores da classe)
* Métodos de DataFrame
    * `df.head()`
    * `df.tail()`
    * df.columns
    * df.index
    * df.info()
    * df.T
    * df.describe()
* Indexando e fatiando DataFrames
    * `df.loc  # fatiando por nome`
    * `df.iloc  # fatiando por número`
    * Diferença entre `()` (chamar funções/métodos) e `[]` (fatias)
    * Sempre na ordem linha, coluna

### Notas
* Pandas chama strings de `object`

### Ponto-chave
**Diferença entre operações entre listas e estruturas de dados do Pandas e NumPy**
___

In [68]:
df.loc
df.iloc

country
Algeria            2449.008185
Angola             3520.610273
Benin              1062.752200
Botswana            851.241141
Burkina Faso        543.255241
                      ...
Switzerland       14734.232750
Turkey             1969.100980
United Kingdom     9979.508487
Australia         10039.595640
New Zealand       10556.575660
Name: gdpPercap_1952, Length: 142, dtype: float64

In [83]:
type(df.loc["Brazil", "continent"])

str

In [76]:
df.iloc[2, 0]

'Africa'

In [97]:
query = df.iloc[[0,], [0,]]
print(query)
print(type(query))

        continent
country
Algeria    Africa
<class 'pandas.core.frame.DataFrame'>

In [91]:
type(df.loc["Angola", ["gdpPercap_1952", "gdpPercap_1957"]])

pandas.core.series.Series

In [79]:
df.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Algeria,Africa,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
Angola,Africa,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
Benin,Africa,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
Botswana,Africa,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
Burkina Faso,Africa,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [33]:
df.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Algeria,Africa,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
Angola,Africa,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
Benin,Africa,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
Botswana,Africa,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
Burkina Faso,Africa,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [45]:
a = pd.Series([0, 1, 2])
b = pd.Series([3, 4, 5])
c = 3

print(a + b)
print(a * c)

array([0, 3, 6])

In [51]:
df.head()

,continent,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
country,,,,,,,,,,,,,,,,,,,,,
Algeria,Africa,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
Angola,Africa,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
Benin,Africa,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
Botswana,Africa,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
Burkina Faso,Africa,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203

In [52]:
type(df["continent"])

pandas.core.series.Series

In [62]:
df["gdpPercap_1952"].head()

country
Algeria         2449.008185
Angola          3520.610273
Benin           1062.752200
Botswana         851.241141
Burkina Faso     543.255241
Name: gdpPercap_1952, dtype: float64

In [ ]:
pd.DataFrame

In [ ]:
CamelCase
meuObjeto

snake_case

In [28]:
df.shape

(142, 37)

In [18]:
lista = ['a', 'b', 'c']

In [19]:
print(lista)

['a', 'b', 'c']

In [20]:
lista.append('d')

In [21]:
print(lista)

['a', 'b', 'c', 'd']

In [22]:
tupla = ('a', 'b', 'c')

In [25]:
lista[0] = "primeiro item"

In [26]:
lista

['primeiro item', 'b', 'c', 'd']

In [27]:
tupla[0] = "primeiro item"

TypeError: 'tuple' object does not support item assignment