### Aula 1 - 16 de abril de 2021

- só meia hora de aula

#### Até agora (última aula):
* Variáveis
* Tipos de dados
* Operadores matemáticos
* Operadores lógicos
* Listas
* Dicionários
* Zen of Python
* `help`
* Funções

#### Hoje
* Revisão funções

In [ ]:
def cel_to_fahr(cel):
    """
    Realiza conversão de Celsius para Fahrenheit.
    
    cel: valor em graus Celsius.
    retorna: valor em graus Fahrenheit.
    """
    
    fahr = cel * 9/5 + 32
    return fahr

### Aula 2 - 20 de abril

**Tópicos de interesse:**
- Banco de dados (SQL)
- Modelagem (ETL)


**Objetivo:** conseguir precisar fazer tarefas diferentes

**Observação:** Dificuldade para instalar o Anaconda/VSCode

**Próxima aula**
* Revisão de sintaxe Python (desafios)
* Conectar no [SSMS](https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-ver15)
* Usar o [`pyodbc`](https://towardsdatascience.com/sql-server-with-python-679b8dba69fa)

### Aula 3 - 23 de abril
* Desafios com listas e funções

#### Revisar
* Funções built-in
    * `print()`
    * `type()`
    * `len()`
* Listas
    * Métodos de lista
        * `remove()`
        * `append()`
        * `pop()`
    * Como ver os métodos de um objeto?
        * Bote o nome do objeto com um ponto e aperte TAB
        * `lista.` e `TAB`


# Desafios

#### 1. Escreva uma função que remova todos os elementos com um determinado valor de uma lista.

**Exemplo**
```python
lista = ['a', 'b', 'c', 'a']
remove(lista, 'a')  # retorna ['b','c'].
```

In [ ]:
# solucao 1
lista = ['a', 'b', 'c', 'a']

def remove(lista, x):
    for value in lista:
        if value == x:
            lista.remove(x)
            
    return lista
            
            
# solucao 2 - list comprehension
def remove(lista, x):
    nova_lista = [value for value in lista if value != x]
    return nova_lista


remove(lista, 'a')

In [ ]:
# Pegadinhas de lista
lista[0]  # indexação do 0
lista[:3]  # fatia não-inclusiva

In [ ]:
estado = "São Paulo"

#### 2. Escreva um programa que receba uma lista e retorna a soma de cada elemento elevado ao cubo. Caso haja um elemento que não seja numero, deve retornar uma mensagem de erro.

#### 3. Escreva um programa que receba uma frase e retorne a palavra com mais letras `'e'`.

#### 4. Escreva um programa que receba uma lista e retorne o valor mínimo e máximo da lista.

#### 5. Escreva um programa que receba uma lista de strings e depois imprima quantos elementos contenham uma substring qualquer.

#### 6. Escreva um programa que leia um arquivo de texto e escreva o número de linhas em um novo arquivo.

**Exemplo**
Suponha um arquivo de texto `input.txt` com seis linhas de conteúdo.
O programa deve escrever um arquivo `output.txt` contendo o número 6.